.content {
    background-color: lightblue;    
    margin: 0 auto;
    height: 600px;
    text-align: center;
}

#content-box h2{
    box-sizing: border-box;    
    text-align: center;
    
}

#recover-content h2 {
    text-align: center;
}